<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Direct API calls to PHP bridge
  RewriteRule ^api/(.*)$ api/index.php [QSA,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
